{% extends 'base.html' %}

{% load static %}

{% block title %}Festival{% endblock %}

{% block body %}

 <section class="home-slider owl-carousel">
      <div class="slider-item" data-stellar-background-ratio="0.5">
      	<img src="{% static 'images/kumari.jpg' %}">
        <div class="carousel-caption ">
          <h3 style="color:#ecf0f1; font-size:80px; font-weight:1000;">Local Festivals</h3>
        </div>
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotels</span></p>
              <h1 class="mb-3">Festivals</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              {% for festivalItem in festival %}
              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">
                <a href="{% url 'add_planner' 'festival' festivalItem.id %}" class="block-5">
                	<img src="{{ festivalItem.festival_image_url }}" >
                  <div class="text">
                   <span class="price">{{ festivalItem.location}}</span>
                   <h3 class="heading">{{ festivalItem.festival_name}}</h3>
                    <div class="post-meta">
                      <span>{{ festivalItem.description}}</span>

                    </div>
                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>
                  </div>
                </a>
              </div>
              {% endfor %}
<!--            -->
<!--              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">-->
<!--                <a href="#" class="block-5">-->
<!--                	<img src="{% static 'images/tihar1.jpg' %}">-->

<!--                  <div class="text">-->
<!--               		<span class="price">All over Nepal</span>-->
<!--                    <h3 class="heading">Tihar</h3>-->
<!--                    <div class="post-meta">-->
<!--                      <span>Tihar is the festivals of lights</span>-->
<!--                    </div>-->
<!--                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">-->
<!--                <a href="#" class="block-5">-->
<!--                	<img src="{% static 'images/Bisket.jpg' %}">-->
<!--                  <div class="text">-->
<!--                    <span class="price">Bhaktapur</span>-->
<!--                    <h3 class="heading">Bisket Jatra</h3>-->
<!--                    <div class="post-meta">-->
<!--                      <span>celebrates the start of the new year on the Bikram Sambat calendar </span>-->
<!--                    </div>-->
<!--                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">-->
<!--                <a href="#" class="block-5">-->
<!--                	<img src="{% static 'images/krishna.jpg' %}">-->
<!--                  <div class="text">-->
<!--                    <span class="price">Patan</span>-->
<!--                    <h3 class="heading">Krishna Janmastami</h3>-->
<!--                    <div class="post-meta">-->
<!--                      <span>Celebrates the birth of Krishna, the eighth avatar of Vishnu.</span>-->
<!--                    </div>-->
<!--                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">-->
<!--                <a href="#" class="block-5">-->
<!--                	<img src="{% static 'images/janki.jpg' %}">-->
<!--                  <div class="text">-->
<!--                    <span class="price">Janakpur</span>-->
<!--                    <h3 class="heading">Janaki Navmi</h3>-->
<!--                    <div class="post-meta">-->
<!--                      <span>Celebrates the birth of goddess Sita</span>-->
<!--                    </div>-->
<!--                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-lg-6 mb-4 ftco-animate">-->
<!--                <a href="#" class="block-5">-->
<!--                	<img src="{% static 'images/holi2.jpg' %}">-->
<!--                  <div class="text">-->
<!--                    <span class="price">All over Nepal</span>-->
<!--                    <h3 class="heading">Holi</h3>-->
<!--                    <div class="post-meta">-->
<!--                      <span>Festival of colors</span>-->
<!--                    </div>-->
<!--                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </div>-->
<!--              -->
              
            </div>
            <div class="row mt-5">
              <div class="col text-center">
                <div class="block-27">
                  {% if festival.has_other_pages %}
                    <ul class="pagination">
                  {% if festival.has_previous %}
                    <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                  {% endif %}
                  {% for i in festival.paginator.page_range %}
                    {% if festival.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if festival.has_next %}
                    <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
                  {% endif %}
                  <!----<ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul> --->
                </div>
              </div>
            </div>
          </div>
          <!-- END -->

          <div class="col-lg-4 sidebar">
            <div class="sidebar-box ftco-animate">
              <div class="search-tours bg-light p-4">
                <h3>Find your tour</h3>
                <form action="{% url 'festival' %}" method="post">
                  {% csrf_token %}
                  <div class="fields">
                    <div class="row flex-column">

                      <div class="textfield-search col-sm-12 group mb-3"><input type="text" class="form-control" placeholder="Search Location" name="location"></div>

                      <div class="check-in col-sm-12 group mb-3"><input type="text"  class="form-control" placeholder="Month" name='time'></div>

                     
                      <div class="col-sm-12 group mb-3">
                        <input type="submit" class="search-submit btn btn-primary" value="Find Festivals">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Newari</a>
                <a href="#" class="tag-cloud-link">Bahun</a>
                <a href="#" class="tag-cloud-link">Magar</a>
                <a href="#" class="tag-cloud-link">Gurung</a>
                <a href="#" class="tag-cloud-link">Tharu</a>
                <a href="#" class="tag-cloud-link">Tamang</a>
                <a href="#" class="tag-cloud-link">kirati</a>
                <a href="#" class="tag-cloud-link">Madhesi</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Festival of the impassioned efforts and manifold ambitions of all forms of youthful activity of every generation springing from the threshold of life.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}